@import (reference) "variables.less";

.center{
  text-align: center;
}

.innerBox{
  margin: 10px;
  padding: 10px;
  color: @inverseText;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.colorButton{
  padding: 10px;
  color: @inverseText;
  margin: 5px;
}

.socket-cont{
  text-align: center;
  font-size: 20px;

  #io-status{
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}
