<div class="outer">
    <div id="header"></div>
    <div id="content">
        <div class="row innerBox center" style="background-color: {{titleBGColor}};">
            <div class="col-sm-3 col-md-3"></div>
            <div class="col-sm-6 col-md-6">
              <h1 style="font-size: {{headerSize}}px;">{{mainTitle.title}}</h1>
              <h3 style="font-size: {{subTitleSize}}px;">{{mainTitle.subtitle}}</h3>
            </div>
            <div class="col-sm-3 col-md-3"></div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-md-3"></div>
          <div class="col-sm-6 col-md-6 center">
            <p>
              The content above is populated via Angular AJAX calls to the Node server.<br />
              They can be edited (client-side) through Angular's two-way binding here:
            </p>
            <div class="input-group">
              <label class="input-group-addon">Title: </label><input class="form-control" ng-model="mainTitle.title"/>
            </div>
            <br />
            <div class="input-group">
              <label class="input-group-addon">Subtitle: </label><input class="form-control" ng-model="mainTitle.subtitle"/>
            </div>
            <br />
            <br />
            <div class="input-group">
              <label class="input-group-addon">Title Font Size: </label><input class="form-control" placeholder='default in px' ng-model="headerSize"/>
            </div>
            <br />
            <div class="input-group">
              <label class="input-group-addon">Subtitle Font Size: </label><input class="form-control" placeholder='default in px' ng-model="subTitleSize"/>
            </div>
          </div>
          <div class="col-sm-3 col-md-3 center"></div>
        </div>
        <br/>
        <br/>
        <div class="row">
          <div class="col-sm-3 col-md-2"></div>
          <div class="col-sm-6 col-md-8 center">
            Click a button below to change the header's background color:
          </div>
          <div class="col-sm-3 col-md-2"></div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-md-3"></div>
          <div class="col-sm-6 col-md-6 center">
            <button ng-repeat="color in colorOptions" class="btn btn-default colorButton" style="background-color: {{color}};" ng-click="changeColor(color)">{{color}}</button>
          </div>
          <div class="col-sm-3 col-md-3"></div>
        </div>
    </div>
    <div id="footer"></div>
</div>
