<div class="outer">
    <div id="header"></div>
    <div id="content">
        <div class="column full">
            <h1>{{mainTitle.title}}</h1>
            </h2>{{mainTitle.subtitle}}</h2>
        </div>
        <div class="column full">
            <div class="column third">
                <ul>
                    <li ng-repeat="item in content.list">{{item}}</li>
                </ul>
            </div>
        </div>
        <div class="column full">
            <p>Each of the above elements are populated via Node AJAX calls. They can be edited through Angular's two-way binding here:</p>
            <label>Title: <input ng-model="mainTitle.title"/></label>
            <label>Subtitle: <input ng-model="mainTitle.subtitle"/></label>
            <ul>
                <li ng-repeat="string in content.list"><input ng-model="content.list[$index]" /></li>
            </ul>
        </div>
    </div>
    <div id="footer"></div>
</div>